/* Reset and base styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #dde3e5; /* Light blue background */
}

/* Optional global settings */
.App {
  text-align: center;
}

.App-link {
  color: #ffa500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
